<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style>
body
{
	font-size: 11px;
	line-height: 125%;
}

p
{
	margin: 0px;
}

p, th, td
{
	font-family: arial;
}

div[id="header2"]
{
	text-align: right;
}

p[id="title"]
{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

table
{
	border-collapse: collapse;
	
	width: 100%;
}

td, th
{
	border: 1px solid;
}

th
{
	text-align: left;
}

td, th
{
	padding: 5px;
}

div
{
	margin-top: 3%;
	margin-bottom: 3%;
}
	</style>
</head>
<body>

	<header>

		<div id="header1">
			<p>{{ therapist.name }}</p>
			{% comment %} pre-wrap to keep the '\n' {% endcomment %}
			<p style='white-space: pre-wrap;'>{{ therapist.address }}</p>
			<p>N° INAMI : {{ therapist.inami_nb }}</p>
		</div>

		<div id="header2">
			<p>{{ mutuality.name }}</p>
			<p style='white-space: pre-wrap;'>{{ mutuality.address }}</p>
		</div>
	</header>

	<p id="title"><u>Bordereau de prestations de kinésithérapie</u></p>

	<p><b>FACTURES : {{ dates.ids }}</b></p>

	<div>
		<p>Concerne: {{ patient.name|upper }}</p>
		<p>NISS: {{ patient.niss }}</p>
		<p>Adresse: {{ patientaddress }}</p>
	</div>

<div id="table">
	<table>
		<tr>
			<th>Date de séance</th>
			<th>Codes de prestations</th>
			<th>Numéro de l'ADS</th>
			<th>Honoraires</th>
		</tr>
		
		{% for session in sessions %}
			<tr>
				<td>session.date</td>
				<td>session.code</td> {# prestation codes for statement #}
				<td>session.facture_id</td>
				<td>session.fees</td> {# prices for statement #}
			</tr>
		{% endfor %}
	</table>
</div>

	<p>Veuillez verser le montant de {{ total }} euros
		sur le compte bancaire {{ therapist_bank_account }}, relié au compte {{ therapist_bce }}.</p>

	<p>Sincère salutations.</p>

</body>
</html>
